html {
    background-color: #171717;
}
body {
    margin: auto;
    max-width: 100%;
    font-family: 'Jost', sans-serif;
}
.header_image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    display: block;
}
.container {
    position: absolute;
    right: 32px;
    top: 33px;
    font-size: 24px;
}
.menu-link {
    color: #c4c4c4;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
}
.menu-link:hover {
    color: #9a9a9a;
}
.button:hover {
    color: #9a9a9a;
}
.logo{
    position: absolute;
    left: 32px;
    top: 16px;
    width: 150px;
    height: 50px;
    object-fit: contain;
}
.headline {
    position: absolute;
    left: 35px;
    top: 200px;
    color: #c4c4c4;
    font-size: 80px;
    width: 20px;
    font-family: 'Jost', sans-serif;
}
.textline {
    position: absolute;
    left: 35px;
    top: 320px;
    color: #c4c4c4;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    width: 280px;
}
.description-section {
    position: absolute;
    background-color: #171717;
    font-family: 'Jost', sans-serif;
    color: #c4c4c4;
    font-size: 30px;
    left: 35px;
}
.button {
    background-color: #b04300;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dot {
    color: #b04300;
}
.background {
    background-color: #171717;
    height: 851px;
    padding: 30px 100px;
    margin: 0px;
}
.list {
    position: absolute;
    left: 5px;
    top: 1140px;
    color: #c4c4c4;
    font-size: 20px;
    list-style-type: none;
}
.input {
    position: absolute;
    left: 35px;
    top: 1050px;
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.button2 {
    background-color: #b04300;
    border: none;
    color: #c4c4c4;
    padding: 4px;
    border-radius: 6px;
    width: 150px;
    height: 54px;
    object-fit: cover;
    position: absolute;
    left: 327px;
    top: 17px;
    font-size: 20px;
    font-family: 'Jost', bold;
}
.input2 {
    position: absolute;
    top: 16px;
    left: 2px;
    width: 200px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #c4c4c4;
    color: #333333;
    font-size: 18px;
    font-family: 'Jost', bold;
    border: 1px solid #333333;
}
::placeholder {
    color: rgba(176, 67, 0, 0.6);
}
.button2:hover {
    color: #9a9a9a;
}
.tabelle {
    display: flex;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    padding: 10px;
}
.tag {
    flex: 1;
    border: 1px solid #b04300;
    padding: 20px;
    text-align: left;
    flex-direction: column;
}
.kalender {
    display: flex;
    gap: 7px;
    border: none;
    padding: 10px;
    width: 50%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    left: 800px;
    top: 1050px;
}
.tag {
    flex: 1;
    border: 2px solid #c4c4c4;
    border-radius: 6px;
    color: #c4c4c4;
    list-style-type: none;
}
.input3 {
    position: absolute;
    left: 250px;
    top: 1067px;
    width: 100px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #c4c4c4;
    color: #333333;
    font-size: 18px;
    font-family: 'Jost', bold;
    border: 1px solid #333333;
}

@media (max-width: 768px) {
    .kalender {
        flex-direction: column;
        align-items: center;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 1150px;
    }
    .button2 {
        width: 70px;
        font-size: 10px;
        left: 280px;
    }
    .input2 {
        width: 150px;
        left: 1px;
    }
    .input3 {
        width: 100px;
        left: 200px;
    }
}
